
@{
    ViewBag.Title = "Index";
}
<br />
<h4>About Us:</h4>
<p style="padding-left:10px">
    &emsp; Thank you for coming together as a team and making things possible!<br />
    &emsp; The <b>Mentoring Support System (MSS)</b> is the product of our capstone project.
    This system is to manage all learning activities of FPT University students on Coursera (coursera.org)
    <br />
    <b>Team members:</b> <br />
    &emsp;<a href="https://www.facebook.com/TrungYeuThu" target="_blank" style="color:#333333">Tran Duc Trung</a> - SE05083 <br />
    &emsp;<a href="https://www.facebook.com/loctvt/" target="_blank" style="color:#333333">Trinh Van Tho Loc</a> - SE04905  <br />
    &emsp;<a href="https://www.facebook.com/dung.nguyenxuan.7798" target="_blank" style="color:#333333">Nguyen Xuan Hoang Dung</a> - SE05085 <br />
    &emsp;<a href="https://www.facebook.com/profile.php?id=100007112138252" target="_blank" style="color:#333333">Nguyen Tien Dat</a> - SE04909<br />
    &emsp;<a href="https://www.facebook.com/mcthinhtunii" target="_blank" style="color:#333333">Nguyen Ngoc Thinh</a> - SE04816 <br /><br />
</p>

