
@{
    ViewBag.Title = "Index";
}
<br />
<h4>About Us:</h4>
<p>
    &emsp; The <b>Mentoring Support System (MSS)</b> website is product of the capstone project.
    This system is to manage all online students of FPT University on the Coursera system.
    MSS system will reduce manual work in managing online students, helping those who support students to work more quickly and effectively.
    If you have problems with the website, please contact us:
    <br />
    <b>Supervisor:</b><br />
    &emsp;Dr.Phan Truong Lam - lampt2@fpt.edu.vn <br />
    <b>Team member:</b> <br />
    &emsp;<a href="https://www.facebook.com/TrungYeuThu" target="_blank" style="color:#333333" >Tran Duc Trung</a> - SE05083 <br />
    &emsp;<a href="https://www.facebook.com/loctvt/" target="_blank" style="color:#333333">Trinh Van Tho Loc</a> - SE04905  <br />
    &emsp;<a href="https://www.facebook.com/dung.nguyenxuan.7798" target="_blank" style="color:#333333">Nguyen Xuan Hoang Dung</a> - SE05085 <br />
    &emsp;<a href="https://www.facebook.com/profile.php?id=100007112138252" target="_blank" style="color:#333333">Nguyen Tien Dat</a> - SE04909<br />
    &emsp;<a href="https://www.facebook.com/mcthinhtunii" target="_blank" style="color:#333333">Nguyen Ngoc Thinh</a> - SE04816 <br /><br />
    Thank you for coming together as a team and making things possible!
</p>

