USE [master]
GO
/****** Object:  Database [MSS]    Script Date: 3/10/2020 10:42:28 PM ******/
CREATE DATABASE [MSS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MSS.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MSS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MSS_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSS]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Campus](
	[Campus_ID] [varchar](50) NOT NULL,
	[Campus_Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Contact_Point] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[Campus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Certificate](
	[Certificate_ID] [int] IDENTITY(1,1) NOT NULL,
	[Link] [varchar](250) NOT NULL,
	[Date_Submit] [datetime] NOT NULL,
	[Roll] [varchar](50) NOT NULL,
	[Course_ID] [varchar](50) NULL,
	[Specification_ID] [int] NULL,
 CONSTRAINT [PK_Certificate] PRIMARY KEY CLUSTERED 
(
	[Certificate_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Class](
	[Class_ID] [varchar](50) NOT NULL,
	[University] [varchar](50) NULL,
	[Class_Start_Time] [datetime] NULL,
	[Enrollment_Source] [nchar](10) NULL,
	[Mentor_ID] [varchar](50) NULL,
	[Semester_ID] [varchar](50) NULL,
	[Campus_ID] [varchar](50) NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Class_Student]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Class_Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Roll] [varchar](50) NOT NULL,
	[Class_ID] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Class_St__3214EC2789765836] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [int] IDENTITY(1,1) NOT NULL,
	[Course_Name] [varchar](150) NOT NULL,
	[Specification_ID] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course_Deadline]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course_Deadline](
	[Semester_ID] [varchar](50) NOT NULL,
	[Course_ID] [int] NOT NULL,
	[Deadline] [datetime] NOT NULL,
	[Course_Deadline_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Course_Deadline] PRIMARY KEY CLUSTERED 
(
	[Course_Deadline_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mentor]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mentor](
	[Mentor_ID] [varchar](50) NOT NULL,
	[Login] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_Mentor] PRIMARY KEY CLUSTERED 
(
	[Mentor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semester](
	[Semester_ID] [varchar](50) NOT NULL,
	[Semester_Name] [nvarchar](100) NULL,
	[Start_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[Semester_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Specification](
	[Specification_ID] [int] NOT NULL,
	[Subject_ID] [varchar](50) NULL,
	[Specification_Name] [nvarchar](150) NOT NULL,
	[Is_Real_Specification] [bit] NOT NULL,
	[Url] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Specification_1] PRIMARY KEY CLUSTERED 
(
	[Specification_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Email] [varchar](50) NOT NULL,
	[Roll] [varchar](50) NOT NULL,
	[Full_Name] [nvarchar](150) NULL,
	[Campus] [nvarchar](150) NULL,
	[Semester_ID] [varchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student_Course_Log]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student_Course_Log](
	[Course_Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Course_Enrollment_Time] [datetime] NULL,
	[Course_Start_Time] [datetime] NULL,
	[Last_Course_Activity_Time] [datetime] NULL,
	[Overall_Progress] [float] NULL,
	[Estimated] [float] NULL,
	[Completed] [bit] NULL,
	[Status] [bit] NULL,
	[Program_Slug] [nvarchar](50) NULL,
	[Program_Name] [nvarchar](150) NULL,
	[Completion_Time] [datetime] NULL,
	[Course_ID] [int] NULL,
	[Course_Grade] [float] NULL,
	[Roll] [varchar](50) NULL,
	[Date_Import] [datetime] NULL,
	[User_ID] [int] NULL,
	[Email] [nvarchar](150) NULL,
	[Campus] [nvarchar](150) NULL,
	[Subject_ID] [varchar](50) NULL,
 CONSTRAINT [PK_Student_Course_Log] PRIMARY KEY CLUSTERED 
(
	[Course_Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student_Specification_Log]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student_Specification_Log](
	[Specification_Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Roll] [varchar](50) NULL,
	[Subject_ID] [varchar](50) NULL,
	[Specialization] [nvarchar](150) NULL,
	[Specialization_Slug] [nvarchar](50) NULL,
	[University] [nvarchar](250) NULL,
	[Specialization_Enrollment_Time] [datetime] NULL,
	[Last_Specialization_Activity_Time] [datetime] NULL,
	[Completed] [bit] NULL,
	[Status] [bit] NULL,
	[Program_Slug] [nvarchar](50) NULL,
	[Program_Name] [nvarchar](150) NULL,
	[Specialization_Completion_Time] [datetime] NULL,
	[Campus] [nvarchar](150) NULL,
	[Date_Import] [datetime] NULL,
	[User_ID] [int] NULL,
	[Email] [nvarchar](150) NULL,
	[Specification_ID] [int] NULL,
 CONSTRAINT [PK_Student_Specification_Log] PRIMARY KEY CLUSTERED 
(
	[Specification_Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[Subject_ID] [varchar](50) NOT NULL,
	[Subject_Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Subject_1] PRIMARY KEY CLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject_Student]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject_Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject_ID] [varchar](50) NOT NULL,
	[Roll] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Subject___3214EC27757BBC55] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 3/10/2020 10:42:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Role](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Campus] ([Campus_ID], [Campus_Name], [Address], [Contact_Point]) VALUES (N'CT', N'CẦN THƠ', N'Địa chỉ: 600, đường Nguyễn Văn Cừ (nối dài), phường An Bình, quận Ninh Kiều, TP. Cần Thơ', N'(0292) 360 1996')
INSERT [dbo].[Campus] ([Campus_ID], [Campus_Name], [Address], [Contact_Point]) VALUES (N'DN', N'ĐÀ NẴNG', N'Khu đô thị công nghệ FPT Đà Nẵng, P.Hoà Hải, Q.Ngũ Hành Sơn, Tp Đà Nẵng', N'(0236) 730 0999')
INSERT [dbo].[Campus] ([Campus_ID], [Campus_Name], [Address], [Contact_Point]) VALUES (N'HN', N'HÀ NỘI', N'Khu Giáo dục và Đào tạo – Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, Thạch Thất, TP. Hà Nội', N'(024) 7300 5588')
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (1, N'Mentor')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (2, N'Hana')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
INSERT [dbo].[Semester] ([Semester_ID], [Semester_Name], [Start_Date], [End_Date]) VALUES (N'SM20', N'Summer 2020', CAST(0x0000AB9200000000 AS DateTime), CAST(0x0000AC0C00000000 AS DateTime))
INSERT [dbo].[Semester] ([Semester_ID], [Semester_Name], [Start_Date], [End_Date]) VALUES (N'SP20', N'Spring 2020', CAST(0x0000AA0E00000000 AS DateTime), CAST(0x0000AB9300000000 AS DateTime))
INSERT [dbo].[Specification] ([Specification_ID], [Subject_ID], [Specification_Name], [Is_Real_Specification], [Url], [Description]) VALUES (5, N'HRM201c', N'Human Resource Management
', 1, N'https://www.coursera.org/?authMode=login', N'This is fun description')
INSERT [dbo].[Specification] ([Specification_ID], [Subject_ID], [Specification_Name], [Is_Real_Specification], [Url], [Description]) VALUES (12, N'PMG201c', N'Project management
', 1, N'https://www.coursera.org/?authMode=login', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry')
INSERT [dbo].[Specification] ([Specification_ID], [Subject_ID], [Specification_Name], [Is_Real_Specification], [Url], [Description]) VALUES (13, N'PRP201', N'Python for Everybody', 1, N'https://www.coursera.org/?authMode=login', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry')
INSERT [dbo].[Student] ([Email], [Roll], [Full_Name], [Campus], [Semester_ID]) VALUES (N'1@fpt.edu.vn', N'1', N'1', N'HN', N'SM20')
INSERT [dbo].[Student] ([Email], [Roll], [Full_Name], [Campus], [Semester_ID]) VALUES (N'10@fpt.edu.vn', N'10', N'10', N'HN', N'SM20')
INSERT [dbo].[Student] ([Email], [Roll], [Full_Name], [Campus], [Semester_ID]) VALUES (N'100@fpt.edu.vn', N'100', N'100', N'HN', N'SM20')
GO
INSERT [dbo].[Subject] ([Subject_ID], [Subject_Name]) VALUES (N'HRM201c', N'Human Resource Management')
INSERT [dbo].[Subject] ([Subject_ID], [Subject_Name]) VALUES (N'PMG201c', N'Project Management')
INSERT [dbo].[Subject] ([Subject_ID], [Subject_Name]) VALUES (N'PRP201', N'Python for Everybody')
SET IDENTITY_INSERT [dbo].[Subject_Student] ON 

INSERT [dbo].[Subject_Student] ([ID], [Subject_ID], [Roll]) VALUES (3686, N'HRM201c', N'114')
INSERT [dbo].[Subject_Student] ([ID], [Subject_ID], [Roll]) VALUES (3687, N'HRM201c', N'115')
INSERT [dbo].[Subject_Student] ([ID], [Subject_ID], [Roll]) VALUES (3688, N'HRM201c', N'116')
GO
SET IDENTITY_INSERT [dbo].[Subject_Student] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Specification_2]    Script Date: 3/10/2020 10:42:29 PM ******/
ALTER TABLE [dbo].[Specification] ADD  CONSTRAINT [IX_Specification_2] UNIQUE NONCLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Course] FOREIGN KEY([Specification_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_Course]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Specification] FOREIGN KEY([Specification_ID])
REFERENCES [dbo].[Specification] ([Specification_ID])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_Specification]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Student] FOREIGN KEY([Roll])
REFERENCES [dbo].[Student] ([Roll])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_Student]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Campus1] FOREIGN KEY([Campus_ID])
REFERENCES [dbo].[Campus] ([Campus_ID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Campus1]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Mentor] FOREIGN KEY([Mentor_ID])
REFERENCES [dbo].[Mentor] ([Mentor_ID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Mentor]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Semester] FOREIGN KEY([Semester_ID])
REFERENCES [dbo].[Semester] ([Semester_ID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Semester]
GO
ALTER TABLE [dbo].[Class_Student]  WITH CHECK ADD  CONSTRAINT [FK_Class_Student_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Class] ([Class_ID])
GO
ALTER TABLE [dbo].[Class_Student] CHECK CONSTRAINT [FK_Class_Student_Class]
GO
ALTER TABLE [dbo].[Class_Student]  WITH CHECK ADD  CONSTRAINT [FK_Class_Student_Student] FOREIGN KEY([Roll])
REFERENCES [dbo].[Student] ([Roll])
GO
ALTER TABLE [dbo].[Class_Student] CHECK CONSTRAINT [FK_Class_Student_Student]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Specification] FOREIGN KEY([Specification_ID])
REFERENCES [dbo].[Specification] ([Specification_ID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Specification]
GO
ALTER TABLE [dbo].[Course_Deadline]  WITH CHECK ADD  CONSTRAINT [FK_Course_Deadline_Course] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Course_Deadline] CHECK CONSTRAINT [FK_Course_Deadline_Course]
GO
ALTER TABLE [dbo].[Course_Deadline]  WITH CHECK ADD  CONSTRAINT [FK_Course_Deadline_Semester] FOREIGN KEY([Semester_ID])
REFERENCES [dbo].[Semester] ([Semester_ID])
GO
ALTER TABLE [dbo].[Course_Deadline] CHECK CONSTRAINT [FK_Course_Deadline_Semester]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[Subject] ([Subject_ID])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Subject]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Semester] FOREIGN KEY([Semester_ID])
REFERENCES [dbo].[Semester] ([Semester_ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Semester]
GO
ALTER TABLE [dbo].[Student_Course_Log]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Log_Course] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Student_Course_Log] CHECK CONSTRAINT [FK_Student_Course_Log_Course]
GO
ALTER TABLE [dbo].[Student_Course_Log]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Log_Student] FOREIGN KEY([Roll])
REFERENCES [dbo].[Student] ([Roll])
GO
ALTER TABLE [dbo].[Student_Course_Log] CHECK CONSTRAINT [FK_Student_Course_Log_Student]
GO
ALTER TABLE [dbo].[Student_Course_Log]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Log_User_Role] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User_Role] ([User_ID])
GO
ALTER TABLE [dbo].[Student_Course_Log] CHECK CONSTRAINT [FK_Student_Course_Log_User_Role]
GO
ALTER TABLE [dbo].[Student_Specification_Log]  WITH CHECK ADD  CONSTRAINT [FK_Student_Specification_Log_Specification] FOREIGN KEY([Specification_ID])
REFERENCES [dbo].[Specification] ([Specification_ID])
GO
ALTER TABLE [dbo].[Student_Specification_Log] CHECK CONSTRAINT [FK_Student_Specification_Log_Specification]
GO
ALTER TABLE [dbo].[Student_Specification_Log]  WITH CHECK ADD  CONSTRAINT [FK_Student_Specification_Log_Student] FOREIGN KEY([Roll])
REFERENCES [dbo].[Student] ([Roll])
GO
ALTER TABLE [dbo].[Student_Specification_Log] CHECK CONSTRAINT [FK_Student_Specification_Log_Student]
GO
ALTER TABLE [dbo].[Student_Specification_Log]  WITH CHECK ADD  CONSTRAINT [FK_Student_Specification_Log_User_Role] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User_Role] ([User_ID])
GO
ALTER TABLE [dbo].[Student_Specification_Log] CHECK CONSTRAINT [FK_Student_Specification_Log_User_Role]
GO
ALTER TABLE [dbo].[Subject_Student]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Student_Student] FOREIGN KEY([Roll])
REFERENCES [dbo].[Student] ([Roll])
GO
ALTER TABLE [dbo].[Subject_Student] CHECK CONSTRAINT [FK_Subject_Student_Student]
GO
ALTER TABLE [dbo].[Subject_Student]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Student_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[Subject] ([Subject_ID])
GO
ALTER TABLE [dbo].[Subject_Student] CHECK CONSTRAINT [FK_Subject_Student_Subject]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_User_Role_Role]
GO
USE [master]
GO
