@model MSS_DEMO.Models.Specification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Subject_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Subject_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Specification_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
