
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Remove Data</span>
<hr />
<h4>Remove Data</h4>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink("Usage Report", "UsageReport", "CleanSystem")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink("Specialization Report", "SpecificationReport", "CleanSystem")</h5>
<br />
