
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<!DOCTYPE html>
<br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-signin-client_id" content="1069005412125-7a4a3760pfvmrimg2guhs1ocguo8ne94.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Content/Scripts/Google.js"></script>
    <title>Create</title>
</head>
<body>
    <script>
        function onSignIn(googleUser) {  
    var profile = googleUser.getBasicProfile();
    var Mail = profile.getEmail();
    var formData = new FormData();
    var rootUrl = '@Url.Content("~")';
    formData.append("Mail", Mail);
    $.ajax({
        url: '@Url.Action("LoginWithGoogle", "Login")',
        type: 'POST',
        data: formData,
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function (data) {
            if (data.message == "true") {
                window.location.href = "/Home/Index"
            }
            if (data.message == "false") {
                signOut();
                sweetAlert("Error!","Login fail!", "error");
            }

        }
    }).done(function () {
    });
}
    </script>
   
    <div class="g-signin2" onclick="" data-onsuccess="onSignIn" data-theme="dark"></div>
    
</body>
</html>
