
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<!DOCTYPE html>
<br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-signin-client_id" content="1069005412125-7a4a3760pfvmrimg2guhs1ocguo8ne94.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Content/Scripts/Google.js"></script>
    <title>Create</title>
</head>
<body>
    <form id="myForm" method="post"
          action="@Url.Action("LoginWithGoogle", "Login")">
        @Html.Hidden("Email")
        <div class="g-signin2" onclick="" data-onsuccess="onSignIn" data-theme="dark"></div>
    </form>  
    <span style="color:red;">@ViewBag.Error</span>
</body>
</html>
<script>
        function onSignIn(googleUser)
          {
            var profile = googleUser.getBasicProfile();
            var Mail = profile.getEmail();
            $("#Email").val(Mail);
            $("#myForm").submit();
          }
</script>