
@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Campus", "Index", "Campus")</h2>
<h2>@Html.ActionLink("Setup the beginning of the semester", "Index", "SetupBeginSemester")</h2>
<h2>@Html.ActionLink("Import Daily", "Index", "ExportData")</h2>

