
@{
    ViewBag.Title = "Report";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<span>@Html.ActionLink("Home", "Index", "Home") > Report</span>
<hr />
<h4>Report</h4>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink("Usage report", "Index", "Student_Course_Log")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink("Specialization report", "Index", "Student_Specification_Log")</h5>
<br />
<h5>&emsp;<span class="glyphicon">&#xe250;</span>@Html.ActionLink("Student report", "Member", "Report")</h5>

